<header [ngClass]="{'visible': isVisible, 'hidden': !isVisible}">
  <a routerLink="/" class="logo">UniHack</a>
  <nav class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/desafios">CTFs</a>
    <a routerLink="/ranking">Ranking</a>
    <a routerLink="/equipe">Equipe</a>
  </nav>

  <div class="auth-buttons">
    <ng-container *ngIf="!isLoggedIn">
      <button class="btn btn-login" routerLink="/auth/login">Login</button>
      <button class="btn btn-cadastrar" routerLink="/auth/cadastro">Cadastrar</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <button class="btn btn-login" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</header>