/* navbar.component.scss */
.logo {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn-cadastrar {
  background-color: var(--primary-color);
  color: black;
}

.btn-btn-login :hover {
  background-color: var(--primary-hover);
  
}