<!-- navbar.component.html -->
<header [ngClass]="{'visible': isVisible, 'hidden': !isVisible}">
  <a href="#" class="logo">UniHack</a>
  <nav class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/desafios">CTFs</a>
    <a routerLink="/ranking">Ranking</a>
    <a routerLink="/rei-do-binario">Rei do Binário</a>
    <a routerLink="/equipe">Equipe</a>
  </nav>
  <div class="auth-buttons">
    <button class="btn btn-login">Login</button>
    <button class="btn btn-cadastrar">Cadastrar</button>
  </div>
</header>